<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD22lHnT5hgKJK_nKFUfFcTQsLD57wJmvE</string>
	<key>GCM_SENDER_ID</key>
	<string>247201268506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tStore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tstore-25448</string>
	<key>STORAGE_BUCKET</key>
	<string>tstore-25448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247201268506:ios:134cac9e6154310849a2a3</string>
</dict>
</plist>